/* Resets */ 

* {
  box-sizing: border-box;
}

/* img {
  max-width: 100%;
  display: block;
}

textarea {
  resize: none;
  padding: 0;
} */

body, p {
  margin: 0;
}

input, select, button {
  border: none;
  font-family: inherit;
}

button {
  background: none;
}

/* Base */ 
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

input, select, button {
  cursor: pointer;
}

select, button {
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

select {
  font-size: 1rem;
  padding: 0 0.5em;
}

select {
  text-transform: capitalize;
}


/* Typography */ 
/* Body */ 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: darkgray;
}
main {
  height: 550px;
  width: 550px;
  background: white;
}

/* Header */ 
#header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 90px;
  padding: 1.5em 1em;
}
#color-picker {
  height: 100%;
  width: 61px;
  align-self: stretch;
}
#color-scheme-menu {
  width: 312px;
}
#color-scheme-submit {
  width: 132px;
  font-size: 0.75rem;
}

/* Colours Section */ 


/* Footer */ 
footer {
  background: white;
  height: 46px;
  font-size: 0.75rem;
}